:root {
    --surfgreen-color: #8dc4cc;
    --darkblue-color: #0b3259;
    --lightblue-color: #6c8bab;
    --textgray-color: #25405c;
    --headergray-color: #43464a;
    --background-color: #e4edf7;
}
/* GLOBAL DEFINITIONS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--textgray-color);
}

.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35 px;
    display: flex;
    flex-wrap: wrap;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    background-color: var(--headergray-color);
    justify-content: space-between;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 10px 0;
    font-size: 36px;
    padding: 0 5px 0 35px;
    background-color: var(--surfgreen-color);
    color: var(--textgray-color);
    /* display: inline; */
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    /* float: right; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: var(--headergray-color);
}
/* why does this no longer work when I remove "in-line" and make it flex? */
header nav ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 25px; */
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    /* font-size: 15px; */
    font-size: 1.40vw;
    color: var(--surfgreen-color);
    background-color: var(--headergray-color);
}

/* HEADER / NAVBAR STYLES END */

/* HERO STYLE START */
.hero {
    position: relative;
    background-image: url("../images/ocean-banner-public-domain.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h3 {
    position: absolute;
    right: 15px;
    bottom: 5px;
    background-color: var(--surfgreen-color);
    padding: 5px 5px;
}

/* HERO STYLE END */

/* MAIN BODY STYLES START */

.main-body {
    background-color: var(--background-color);
}

section {
    padding: 60px;
}

.main-body h2 {
  text-align: left;
  padding: 5px 5px 5px 35px;
  margin-right: 10 px;
  /* border-right: 3px solid;
  border-color: var(--textgray-color); */
  display: inline-block;
  vertical-align: top;
}

/* ABOUT ME STYLES */
.main-body p {
  line-height: 1.7;
  width: 80%;
  font-size: 16px;
  display: inline-block;
  padding: 10px 20px;
  border-left: 3px solid;
  border-color: var(--textgray-color);
}
/* ABOUT ME STYLES END */
/* WORK STYLES START */

.past-works {
  /* placeholder for pastworks */
}

/* WORK STYLES END */

/* CONTACT ME STYLES START */
.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact div ul {    

    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline;
    border-left: 3px solid;
    border-color: var(--textgray-color);

}

.contact div ul li {
    justify-content: space-around;
    display: inline-block;
    text-decoration: underline;
}
/* CONTACT ME STYLES END */
/* MAIN BODY STYLES END */

/* UTILITIES */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }

      .hero-cta, .hero-form {
          width: 100%;
      }

      .hero-cta {
          text-align: center;
      }
      .section-title {
        width: 80%;
      }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
    
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    .step-text {
      flex: 100%;  
    }

    .service-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .service-grid-item.basic {
        grid-column: 1;
    }

    .service-grid-item.both {
        grid-column: 1 / -1;
    }

    .service-grid-item.cancel {
        transform: none;
        writing-mode: unset;
        grid-column: 1 / -1;
        grid-row: -1;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
      }
    
      .section-title {
        width: 95%;
      }
    
      .intro p {
        width: 100%;
      }
    
      .trainer {
        flex: 0 100%;
      }
    
      .contact-info {
        text-align: center;
      }
    
      .contact-info > * {
        flex: 0 100%;
      }

      .contact-form {
        order: 3;
      }
  }